body {
    background-color: rgb(223, 140, 140);
  }
  
  h1 {
    color: rgb(17, 15, 15);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 30px; 
    
  }
  .page{
    padding: 15px;
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 38%;
    transform: translate(-50% -50%);
    
    }
    div{
      background-color: antiquewhite;
      border-radius: 6%;
    padding: 50px;
    }